/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#img1:hover {
   -fx-opacity:0.8;
}
#img11:hover {
   -fx-opacity:0.8;
}
#img12:hover {
   -fx-opacity:0.8;
}

#img2:hover {
   -fx-opacity:0.8;
}
#img21:hover {
   -fx-opacity:0.8;
}
#img22:hover {
   -fx-opacity:0.8;
}

#img3:hover {
   -fx-opacity:0.8;
}
#img31:hover {
   -fx-opacity:0.8;
}
#img32:hover {
   -fx-opacity:0.8;
}

#img4:hover {
   -fx-opacity:0.8;
}
#img41:hover {
   -fx-opacity:0.8;
}
#img42:hover {
   -fx-opacity:0.8;
}

#hist:hover {
   -fx-opacity:0.8;
}

#geo:hover {
   -fx-opacity:0.8;
}

#hist:hover {
   -fx-opacity:0.8;
}

#cult:hover {
   -fx-opacity:0.8;
}

#fd:hover {
   -fx-opacity:0.8;
}